Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PERMOHONANINFORMASI/
    # Menghapus ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    
    # Mengarahkan /aduan ke pengajuan_keberatan.php
    RewriteCond %{REQUEST_URI} ^/PERMOHONANINFORMASI/home
    RewriteRule ^home$ index.php [NC,L]

    RewriteCond %{REQUEST_URI} ^/PERMOHONANINFORMASI/view/admin
    RewriteRule ^admin$ login_admin.php [NC,L]

</IfModule>

