
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Menghapus ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
    RewriteRule ^admin$ loginAdmin.php [NC,L]
    RewriteRule ^home$ index.php [NC,L]
    RewriteRule ^resetPassword$ resetPW.php [NC,L]
</IfModule>
