Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Menghapus ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    # Menangani URL khusus
    RewriteRule ^panduan$ panduan.html [NC,L]
    RewriteRule ^ErorAkses$ eror1.html [NC,L]
</IfModule>

