<div class="nav-header">
    <div class="brand-logo">
        <a href="../view/dashboard">
            <b class="logo-abbr"><img src="../Assets/images/logo_jateng.png" alt=""> </b>
            <span class="logo-compact"><img src="../Assets/images/PERMOHONAN INFORMASI PROVINSI JAWA TENGAH.png" alt=""></span>
            <span class="brand-title">
                <div
                    style="width: 100%; text-align: center; color: white; font-weight: 600; word-wrap: break-word">
                    PERMOHONAN INFORMASI <br />PROVINSI JAWA TENGAH</div>
            </span>
        </a>
    </div>
</div>
<div class="header">
    <div class="header-content clearfix" style="background-color: #7E1217;">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <div class="logo-container">
                    <img src="../Assets/images/logo_jateng.png" alt="Logo" class="logo">
                    <span class="logo-text">PERMOHONAN INFORMASI
                        PROVINSI JAWA TENGAH</span>
                </div>
                <div class="title-container">
                    <div class="title">Menu Permohonan Informasi</div>
                </div>
            </li>
            <li>
                <a href="../view/dashboard" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">user</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Permohonan Informasi</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="../view/listPM">Daftar Permohonan Masuk</a></li>
                    <li><a href="../view/listPI">Daftar Permohonan Informasi</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Keberatan</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="../view/listkeberatan">Daftar Keberatan Masuk</a></li>
                    <li><a href="../view/detailKeberatan">Verifikasi Pengajuan Keberatan</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Referensi</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="../view/listopd">Daftar OPD</a></li>
                </ul>
            </li>
            <li>
                <a href="../view/SKM" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Survey Kepuasan Masyarakat</span>
                </a>

            </li>
            <li>
                <a href="setting.php" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Setting</span>
                </a>
            </li>
        </ul>
    </div>
</div>